.qr {

    $width: 270px;
    $height: #{$width};

    background: transparent;
    width: $width;
    height: $height;

    .qr-img {
        width: 100%;
        background: transparent;
        border-radius: 50% 50% 12.5%;
    }
}
